 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap');

 :root{
    /*değişkenler*/
    --main-color:#e84242;
    --black-color:#0e0e0e;
    --border:0.1rem solid rgba(225, 225, 255, 0.4);
    --color-primary:rgba(66, 51, 119, 0.7);
    --color-primary-dark:rgb(16, 7, 68);
    --color-secondary:rgba(60,60,190);
 }
 *{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    text-transform: capitalize;/*Yazıdaki her bir kelimenin ilk harfini büyük yaz*/
    transition: 0.4s ease;/*her şeyde geçiş yavaşla*/
}

html{
    font-size: 62.5%;/*1rem'i 10 piksele eşitlemek için. Piksel yerine rem kullanılacak*/
    overflow-x: hidden;/*x ekseninde taşma olursa scroll olmasını engellemek için taşmayı gizle*/
    scroll-padding-top: 9rem;
    scroll-behavior: smooth;
}

/*html::-webkit-scrollbar{
    width: 0.8rem;
    background-color: white;
}
html::-webkit-scrollbar-track{
  
    background-color:transparent;
}
html::-webkit-scrollbar-thumb{
    border-radius: 3rem ;
    background-color: var(--black-color);
}*/
body{
    background-color: white;
}
section{
    padding: 3.5rem 7%;/*bütün section'lar aynı hizada olması için sağdan soldan % 7 lik boşluk bırak*/
}
a{
    color: var(--black-color);
    text-decoration: none;
}
.btn{/*bütün butonlar aynı stilde olacak*/
    margin-top: 1rem;
    display: inline-block;
    padding: 2rem 3.75rem;
    border-radius: 30rem;
    font-size: 1.7rem;
    color: #fff;
    background-color: var(--black-color);
    cursor: pointer;
}
.btn:hover{
    opacity: 0.8;
}
.heading{
    color: rgba(2,10,32);
    text-transform: uppercase;
    font-size: 4rem;
    margin-bottom: 3.5rem;
    border-bottom: 0.1rem solid #020a20;
    text-align: center;

}

/*header start*/


.header .logo img{
    height: 10rem;
}

.header{
    background-color:white ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: 2rem 0;
    box-shadow: 0px 0px 17px -2px rgba(0, 0, 0, 0.75);
    position: sticky;/*sayfa aşağı inerken aşağı gelsin*/
    top: 0;
    z-index: 1000;/*header'ın resmin üstünde kalması için*/
}


.header .navbar a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: #020a20;
    border-bottom: 0.1rem solid transparent;
}
.header .navbar .active, .header .navbar a:hover{/*fare*/
    color: #020a20;
    border-color: #020a20;
    padding-bottom: 0.5rem;
}
.header .buttons button{
    cursor: pointer;
    font-size: 2.5rem;
    margin-left: 2rem;
    background-color: transparent;
}

.header .buttons button a{
    display: flex;
    
}

.header .buttons button .tel{
    color: #040d3f;
}
.header .buttons button .whats{
    color: #4dc247;
}

.header .buttons span{
    
    padding-left: 1rem;
    font-size: 1.5rem;
}





.header #menu-btn{
    display: none;
}

/*header end*/

/*home start*/
    

.home{
    min-height: 100vh;
    /*background: url(images/ana_resim.jpg) no-repeat;*/
    background: linear-gradient( rgba(2,10,32,0.5),rgba(2,10,32,0.5)), url(images/home_resim.jpg) no-repeat;
    
    background-size: cover;
    background-position: center;
    margin-top: -14.5rem;/*resmi header in altına getir.*/
    display: flex;/*esneklik ver*/
    align-items: center;/*dikeyde ortala*/

}
.home .content{
    margin-top: 5rem;
    max-width: 80rem;
}
.home .content h3{
    font-size: 6rem;
    color: #fff;
}
.home .content .paragraf{
    margin-top: 2rem;
}
.home .content p{
    font-size: 3rem;
    font-weight: 300;
    line-height: 1;
    padding: 1rem 0;
    color: #fff;
}
/*home end*/
/*About start*/
.about .row{
    display: flex;
    flex-wrap: wrap;
    column-gap: 5rem;
    margin: 5rem 0;
    align-items: center;
}
.about .row .image{
    flex: 1 1 45rem;
}
.about .row img{
    width: 100%;
}
.about .row .content{
    flex: 1 1 45rem;
}    
.about .row .content h3{
    font-size: 3rem;
    color: #fff;
}
.about .row .content p{
    font-size: 2rem;
    color:black;
    padding: 1.5rem 0;
    line-height: 1.8;
    text-transform: none;
}

 /*Contact start*/
.contact .row{
    display: flex;
    background-color: #020a20;
    flex-wrap: wrap;
    gap: 1rem;
}
.contact .row .map{
    flex: 1 1 45rem;
    width: 100%;
    object-fit: cover;
}
.contact .row form{
    flex: 1 1 45rem;
    padding: 5rem 2rem;
    text-align: center;
}
.contact .row form h3{
    text-transform: uppercase;
    font-size: 3.5rem;
    color: #fff;
}
.contact .row form .inputBox{
    display: flex;
    align-items: center;
    margin: 2rem 0;
    border: var(--border);
}
.contact .row form .inputBox i{
    color: #fff;
    font-size: 2rem;
    padding-left: 2rem;
    
}
.contact .row form .inputBox input{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}.contact .row form .inputBox textarea{
    width: 100%;
    padding: 2rem;
    font-size: 1.7rem;
    color: #fff;
    text-transform: none;
    background: none;
}
.contact .row form .btn{
    color: var(--main-color);
    background-color: #fff;
    font-weight: bold;
}

 /*Contact end*/

 
 /*Blog start*/
.faaliyet .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 1.5rem;
    justify-content: center;
}
.faaliyet .box-container .box{
    background-color: #fff;
    border-radius: 3rem;
}
.faaliyet .box-container .box .image{
    height: 25rem;
    overflow: hidden;
    cursor: pointer;
}
.faaliyet .box-container .box .image img{
    height: 100%;
    object-fit: cover;
    width: 100%;
    border-top-left-radius: 3rem;
    border-top-right-radius: 3rem;
}
.faaliyet .box-container .box:hover .image img{
    transform: scale(1.05);
}
.faaliyet .box-container .box .content{
    padding: 2rem;
    text-align: center;
}
.faaliyet .box-container .box .content .title{
    font-size: 2.5rem;
    line-height: 1.5;
    
}
/*Blog end*/
/*faaliyet içerik start*/
.faaliyet .row{
    
    display: flex;
    /*flex-wrap: wrap;*/
    gap: 1rem;
   
}
.faaliyet .row .solmenu{
    
    flex: 1 1 25%;
    padding: 2rem 1rem;
    text-align: center;   
}

.faaliyet .row .solmenu a{
    display: flex;
    flex-direction: row;
}
.faaliyet .row .solmenu .sbtn{
    width: 25rem;
    margin-top: 0.5rem;
    display: inline-block;
    padding: 1rem 2rem;
    /*border-radius: 30rem;*/
    font-size: 1.5rem;
    color: #fff;
    background-color:#020a20;
    cursor: pointer;
}
.faaliyet .row .solmenu .sbtn:hover{
    opacity: 0.8;
}

.faaliyet .row .content{
    flex: 1 1 75%;
    padding: 2rem 1rem;
    text-align: center;
    
}
.faaliyet .row .content h3{
    font-size: 3rem;
    text-align: center; 
}
.faaliyet .row .content p{
    margin-top: 3rem;
    font-size: 1.6rem;
    text-align: justify;
    text-indent: 5rem;
    text-transform:none;
     
}
/*faaliyet içerik end*/
 /*footer start*/
 .footer{
    background-color:  #020a20;
    text-align: center;
 }

 .footer .footer-content{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
    gap: 5rem;
    margin: 4rem 0;
 }  
 
 
 .footer .footer-content .content img{
    height: 28rem;
    margin-top: 2rem;
 }
 .footer .footer-content .content h3{
 text-transform: uppercase;
 font-size: 2.5rem;
 color: #ffcc66;
}

.footer .footer-content .content .iletisim{
    display: flex;
    align-items: center;
}
.footer .footer-content .content .iletisim i{    
    color: #fff;
    font-size: 2rem;
    padding:0 2rem;
}    
.footer .footer-content .content p{
    margin: 1rem 0;
    font-size: 1.5rem;
    text-align: justify;
    color: #fff;
   }
 .footer .links{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1rem;
 }
 .footer .links a{
    margin: 0 1rem;
    font-size: 1.6rem;
    color: white;
    border-bottom: 0.1rem solid transparent;
}
.footer .links a.active, .footer .links a:hover{/*fare*/
    color: white;
    border-color: white;
    padding-bottom: 0.5rem;
}
 /*
 .footer .links a{
    color: var(--main-color);
    background-color:#fff;
    padding: 0.7rem 2rem;
    font-size: 2rem;
    border: var(--border);
 }
  .footer .links a:hover{
    background-color:white;
    opacity: 0.7;
 }
  .footer .links a.active{
    background-color:white;
    opacity: 0.7;
 }
 */
 .footer .created{
    margin-top: 3rem;
    font-size: 1.5rem;
    color: #fff;
    font-weight: 300;
    /*padding-top: 1.5rem;*/
 } 
 .footer .created span{
    color:var(--main-color);
 }
 /*footer end*/
 /*responsive start*/
 @media (max-width: 991px) {
    html{
        font-size: 55%;
    }
    .header{
        padding: 1.5rem 2rem;
    }
    .header .logo img{
        height: 7rem;
    }
    .section{
        padding: 2rem;
    }
    .products .box-container .box .box-head .name{
        font-size: 3.4rem;
    }
    .faaliyet .row{
    
        display: flex;
        flex-wrap: wrap;
        gap: 1rem;
    }
 }
 @media (max-width: 768px){
    .header #menu-btn{
        display: inline-block;
    }
    .header .navbar{
        position: absolute;
        margin-top: 1rem;
        top: 95%;
        background-color: #fff;
        height: calc(50vh - 9rem);
        width: 30rem;
        box-shadow: 0px 20px 14px 0px rgb(0 0 0 / 75%);
        right: -100%;
    }
  
    .header  .navbar.active{
        right: 0.5rem;
    }
      .header .navbar a{
        color:#020a20;
        display: block;
        margin: 1.5rem;
        padding: 0.5rem;
        font-size: 2rem;
    }
  
 }
 @media (max-width: 576px){
    html {
        font-size: 50%;
    }
    .header #menu-btn{
        display: inline-block;
    }
}
 /*responsive end*/